body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(217, 54%, 11%);
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100vh;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  flex-direction: column;
  background-color: hsl(216, 50%, 16%);
  border-radius: 10px;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
}

.banner {
  width: 45%;
  border-radius: 10px;
  margin: 15px;
}

.header {
  color: hsl(0, 0%, 100%);
  text-align: left;
}
