body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(217, 54%, 11%);
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100vh;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  flex-direction: column;
  width: 300px;
  padding: 15px;
  background-color: hsl(216, 50%, 16%);
  border-radius: 15px;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
}

.banner {
  width: 98%;
  border-radius: 10px;
}

.header {
  color: hsl(0, 0%, 100%);
  text-align: left;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: row;
}

.footer {
  display: flex;
  flex-direction: row;
}

.avatarPhoto {
  width: 50px;
  height: 50px;
  border: 2px solid hsl(0, 0%, 100%);
  border-radius: 50%;
}
